# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
# Output File (CSV)
output_data_file = "Resources/city_data.csv"
city_df = pd.read_csv(output_data_file, encoding="ISO-8859-1")
city_df

,City,Country,City ID,Latitude,Longitude,temperature,humidity,cloudiness,wind speed
0,Te Anau,NZ,2181625,-45.4167,167.7167,75.51,39,0,5.66
1,Mataura,NZ,6201424,-46.1927,168.8643,73.87,53,16,7.65
2,Nanortalik,GL,3421765,60.1432,-45.2371,28.99,94,100,11.14
3,Kapaa,US,5848280,22.0752,-159.3190,72.82,78,20,18.41
4,Hearst,CA,5973108,49.6835,-83.6665,26.60,93,89,2.30
...,...,...,...,...,...,...,...,...,...
561,Mount Isa,AU,2065594,-20.7333,139.5000,96.80,23,0,13.80
562,Zhob,PK,1162105,31.3411,69.4481,48.61,40,3,0.83
563,Formosa,AR,3433899,-26.1775,-58.1781,80.60,78,0,8.05
564,Tofield,CA,6167254,53.3668,-112.6686,28.99,80,67,21.85
565,Krasnovishersk,RU,542184,60.4078,57.0820,-18.00,85,0,2.04

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [8]:
# Store 'Lat' and 'Lng' into  locations 
locations = city_df[["Latitude", "Longitude"]].astype(float)

# Convert Humidity to float and store
# HINT: be sure to handle NaN values
city_df = city_df.dropna()
humidity = city_df["humidity"].astype(float)

In [9]:
# Create a humidity Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
narrow_df = city_df.loc[(city_df["temperature"] < 90) & (city_df["temperature"] > 75) 
                       & (city_df["wind speed"] < 5) & (city_df["cloudiness"] < 5)]
narrow_df

,City,Country,City ID,Latitude,Longitude,temperature,humidity,cloudiness,wind speed
145,Manjacaze,MZ,1040938,-24.7117,33.8828,75.72,90,0,3.36
161,Bonthe,SL,2409914,7.5264,-12.5050,77.11,88,0,1.72
229,Dabakala,CI,2290609,8.3667,-4.4333,75.02,67,0,4.07
305,Freetown,SL,2409306,8.4840,-13.2299,77.09,85,2,3.44
552,Port Macquarie,AU,2152659,-31.4333,152.9167,87.62,45,0,1.99

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
hotel_df = narrow_df
hotel_df['Hotel Name'] = ""
hotel_df

<ipython-input-11-ba65b806580e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df['Hotel Name'] = ""

,City,Country,City ID,Latitude,Longitude,temperature,humidity,cloudiness,wind speed,Hotel Name
145,Manjacaze,MZ,1040938,-24.7117,33.8828,75.72,90,0,3.36,
161,Bonthe,SL,2409914,7.5264,-12.5050,77.11,88,0,1.72,
229,Dabakala,CI,2290609,8.3667,-4.4333,75.02,67,0,4.07,
305,Freetown,SL,2409306,8.4840,-13.2299,77.09,85,2,3.44,
552,Port Macquarie,AU,2152659,-31.4333,152.9167,87.62,45,0,1.99,

In [12]:
#06-Python-APIs/3/Activities/04-Ins_NearestRestr/Solved/NearestRestr.ipynb
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


params = { 
    "radius":5000,
    "type": "hotel",
    "keyword" : "hotel",
    "key": g_key,
}

In [13]:
for index, row in hotel_df.iterrows():
    
    lat = row["Latitude"]
    lng = row["Longitude"]
    city_name = row["City"]
    
    params["location"] = f"{lat},{lng}"
    
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    results = response['results']
    
    try: 
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Hotel not found.")
        
    print("------------")

Retrieving Results for Index 145: Manjacaze.
Closest hotel in Manjacaze is Hotel Mazino.
------------
Retrieving Results for Index 161: Bonthe.

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Closest hotel in Bonthe is Bonthe Holiday Village.
------------
Retrieving Results for Index 229: Dabakala.
Closest hotel in Dabakala is Hotel First Class.
------------
Retrieving Results for Index 305: Freetown.
Closest hotel in Freetown is New Brookfields Hotel.
------------
Retrieving Results for Index 552: Port Macquarie.
Closest hotel in Port Macquarie is Port Macquarie Hotel.
------------

In [14]:
hotel_df

,City,Country,City ID,Latitude,Longitude,temperature,humidity,cloudiness,wind speed,Hotel Name
145,Manjacaze,MZ,1040938,-24.7117,33.8828,75.72,90,0,3.36,Hotel Mazino
161,Bonthe,SL,2409914,7.5264,-12.5050,77.11,88,0,1.72,Bonthe Holiday Village
229,Dabakala,CI,2290609,8.3667,-4.4333,75.02,67,0,4.07,Hotel First Class
305,Freetown,SL,2409306,8.4840,-13.2299,77.09,85,2,3.44,New Brookfields Hotel
552,Port Macquarie,AU,2152659,-31.4333,152.9167,87.62,45,0,1.99,Port Macquarie Hotel

In [15]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [16]:
# Add marker layer ontop of heat map

figure_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout,zoom_level=2,center=(15,25))

# Create hotel symbol layer
hotel_layer = gmaps.marker_layer(
    locations,info_box_content=[info_box_template.format(**row) for index, row in hotel_df.iterrows()]
)


# Add layer
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)
# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wiâ€¦